@font-face {
  font-family: '名前';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans') format('woff2');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
} 

.label {
  font-size: 12px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  top: 0;
  width: 100%;
  height: 32px;
}


/* Tool bar */
.toolBar {
  display: flex;
  width: 100%;
  height: 31px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: transparent transparent #aaaaaa transparent;
  background-color: #f7f7f7;
}

.toolButton {
  width: 64px;
  height: 21px;
  margin: 5px;
}

.toolRadio {
  height: 21px;
  margin: 5px;
  vertical-align: middle;
}

.fileOpenButton {
  margin-left: auto;
}


/* Contents */
.contents {
  flex: 1;
  position: fixed;
  top: 32px;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.fileNameBox {
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #cccccc;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.fileName {
  margin: 0 4px 0 4px;
}

.imageView {
  width: 100%;
  height: 100%;
}
